[submodule "strings/qa_module"]
	path = strings/qa_module
	url = https://github.com/HumanbiOS/QA-module
[submodule "rasa"]
	path = rasa
	url = https://github.com/HumanbiOS/rasa
[submodule "gpt2bot"]
	path = gpt2bot
	url = https://github.com/HumanbiOS/gpt2bot
