humanbiosbots.com {
    reverse_proxy humanbios-fb:8080
}

server.humanbiosbots.com {
    handle /archive/* {
        root * archive
        file_server
    }
    handle /static/* {
        root * static
        file_server
    }
    handle {
        reverse_proxy humanbios-server:8080
    }
}

#websocket.humanbiosbots.com {
#    handle /api/* {
#        reverse_proxy humanbios-websocket:8080
#    }
#}
